body {
 text-align: center;
 background-color: white;
}
.searchbar input[type=submit] {
 color: white;
 background-color: blueviolet;
 
}
#watermark {
 margin: 0 auto;
 padding-top: 10px;
 background-image: url('http://www.clipartbest.com/cliparts/yik/aBp/yikaBpknT.jpg');
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
 opacity: 0.5;
}
